<!-- Файл: flatpages/templates/index.html -->
<!-- Описание: Шаблон главной страницы с HTML-разметкой -->

<!-- DOCTYPE - объявление типа документа -->
<!-- html - указывает, что это документ HTML5 -->
<!DOCTYPE html>

<!-- Открывающий тег html - корневой элемент HTML-документа -->
<html>
    <!-- Тег head - контейнер для метаданных документа -->
    <!-- Содержит заголовок страницы, ссылки на стили, скрипты и т.д. -->
    <!-- Добавляю подключение стилей внутрь тега head -->
    <head>
        <title>Привет, Мир!</title>
    
     <!-- Тег link - подключает внешние ресурсы к документу -->
     <!-- rel="stylesheet" - указывает, что подключается таблица стилей -->
     <!-- href - путь к файлу стилей -->
     <!-- {{ STATIC_URL }} - шаблонная переменная Django с путем к статическим файлам -->
     <!-- Аналогичная реализация: <link rel="stylesheet" href="/static/styles.css"> -->
        <link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css">
    </head>

    
    <!-- Тег body - контейнер для видимого содержимого страницы -->
    <!-- Все, что находится внутри body, отображается в окне браузера -->
   
    <!-- В body добавляю изображение согласно заданию -->
    <body>
     <!-- Тег img - вставка изображения -->
     <!-- src - путь к изображению -->
     <!-- alt - альтернативный текст (отображается, если изображение не загрузилось) -->
     <!-- Аналогичная реализация: <img src="/images/photo.jpg" alt="Фотография"> -->
     <img src="{{ STATIC_URL }}/static/logo.png" alt="Логотип">

        <!-- Тег h1 - заголовок первого (самого высокого) уровня -->
        <!-- Используется для главного заголовка страницы -->
        <!-- Аналогичная реализация: <h1>Главный заголовок</h1> -->
        <h1>Привет, Мир!</h1>
        
        <!-- Тег h2 - заголовок второго уровня -->
        <!-- Используется для подзаголовков -->
        <h2>Это учебный сайт, с его помощью будут изучены технологии 
            python/django, html/css.</h2>
        
        <!-- Тег h3 - заголовок третьего уровня -->
        <h3>Как видите, здесь используются заголовки различных 
            уровней.</h3>
        
        <!-- Тег p - параграф (абзац) текста -->
        <!-- Аналогичная реализация: <p>Текст абзаца</p> -->
        <p>Здесь есть маркированный список:</p>
        
        <!-- Тег h4 - заголовок четвертого уровня -->
        <!-- Используется для подзаголовков более низкого уровня -->
        <h4>
            <!-- Тег ul - неупорядоченный (маркированный) список -->
            <!-- ul = unordered list (неупорядоченный список) -->
            <!-- Аналогичная реализация: <ul><li>элемент</li></ul> -->
            <ul>
                <!-- Тег li - элемент списка (list item) -->
                <!-- Используется внутри ul или ol -->
                <li>Элемент 1;</li>
                <li>элемент 2;</li>
                <li>элемент 3;</li>
                <li>последний элемент.</li>
            </ul>
        </h4>
        
        <p>И нумерованный список:</p>
        
        <h4>
            <!-- Тег ol - упорядоченный (нумерованный) список -->
            <!-- ol = ordered list (упорядоченный список) -->
            <!-- Аналогичная реализация: <ol><li>элемент</li></ol> -->
            <ol>
                <li>Элемент 1;</li>
                <li>элемент 2;</li>
                <li>элемент 3;</li>
                <li>последний элемент.</li>
            </ol>
        </h4>
        
        <p>И даже таблица:</p>
        
        <!-- Тег table - таблица -->
        <!-- style="border: none" - инлайн-стиль, убирающий границы таблицы -->
        <!-- Аналогичная реализация: <table border="1">...</table> -->
        <table style="border: 1px solid black; width: 100%;">
            <!-- Тег thead - заголовок таблицы -->
            <!-- Содержит строки с заголовками столбцов -->
            <thead>
                <!-- Тег tr - строка таблицы (table row) -->
                <tr>
                    <!-- Тег th - ячейка заголовка (table header) -->
                    <!-- Текст в th обычно выделяется жирным и центрируется -->
                    <th>Столбик 1</th>
                    <th>Столбик 2</th>
                    <th>Столбик 3</th>
                    <th>Столбик 4</th>
                    <!-- Добавляю 2 дополнительных столбца согласно заданию -->
                    <th>Столбик 5</th>
                    <th>Столбик 6</th>
                </tr>
            </thead>
            
            <!-- Тег tbody - тело таблицы (необязательный, но рекомендуемый) -->
            <tbody>
                <tr>
                    <!-- Тег td - обычная ячейка таблицы (table data) -->
                    <td>Строка 1 Столбец 1</td>
                    <td>Строка 1 Столбец 2</td>
                    <td>Строка 1 Столбец 3</td>
                    <td>Строка 1 Столбец 4</td>
                    <td>Строка 1 Столбец 5</td>
                    <td>Строка 1 Столбец 6</td>
                </tr>
                <tr>
                    <td>Строка 2 Столбец 1</td>
                    <td>Строка 2 Столбец 2</td>
                    <td>Строка 2 Столбец 3</td>
                    <td>Строка 2 Столбец 4</td>
                    <td>Строка 2 Столбец 5</td>
                    <td>Строка 2 Столбец 6</td>
                </tr>
                <tr>
                    <td>Строка 3 Столбец 1</td>
                    <td>Строка 3 Столбец 2</td>
                    <td>Строка 3 Столбец 3</td>
                    <td>Строка 3 Столбец 4</td>
                    <td>Строка 3 Столбец 5</td>
                    <td>Строка 3 Столбец 6</td>
                </tr>
                <tr>
                    <td>Строка 4 Столбец 1</td>
                    <td>Строка 4 Столбец 2</td>
                    <td>Строка 4 Столбец 3</td>
                    <td>Строка 4 Столбец 4</td>
                    <td>Строка 4 Столбец 5</td>
                    <td>Строка 4 Столбец 6</td>
                </tr>
                <tr>
                    <td>Строка 5 Столбец 1</td>
                    <td>Строка 5 Столбец 2</td>
                    <td>Строка 5 Столбец 3</td>
                    <td>Строка 5 Столбец 4</td>
                    <td>Строка 5 Столбец 5</td>
                    <td>Строка 5 Столбец 6</td>
                </tr>
                <!-- Добавляю 2 дополнительные строки согласно заданию -->
                <tr>
                    <td>Строка 6 Столбец 1</td>
                    <td>Строка 6 Столбец 2</td>
                    <td>Строка 6 Столбец 3</td>
                    <td>Строка 6 Столбец 4</td>
                    <td>Строка 6 Столбец 5</td>
                    <td>Строка 6 Столбец 6</td>
                </tr>
                <tr>
                    <td>Строка 7 Столбец 1</td>
                    <td>Строка 7 Столбец 2</td>
                    <td>Строка 7 Столбец 3</td>
                    <td>Строка 7 Столбец 4</td>
                    <td>Строка 7 Столбец 5</td>
                    <td>Строка 7 Столбец 6</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
